# Konfigurasi Database
# (Sesuaikan nilai-nilai ini jika ingin menggunakan nama/password lain)
DB_HOST=db
DB_NAME=sql_titikjeda_online
DB_USER=sql_titikjeda_online
DB_PASSWORD=ec5d2cc0c70bf8
DB_ROOT_PASSWORD=root_password_123

# Konfigurasi App
PORT=5000
JWT_SECRET=secret_jwt_titik_jeda_2024
FRONTEND_URL=http://localhost:5000
